/* Texto */
body
{
/*   background-color: #ffffff; */
/*   color: #ffffff;  */
	margin: 0px;
  font-size: 20px;
  text-align:center;
}


/* Titulo  */
H1
{
/*   color: #ffffff;  */
  font-size: 40px;
   margin: 0px;
}

